.avatar-image {
  background-position: top center;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  min-height: 450px;

  @media only screen and (max-width: 767px) {
    border-radius: 50%;
    min-height: 220px;
    max-width: 220px;
  }
}
