.social-icons {
  justify-content: space-around;
  display: flex;
  color: white;

  &-list {
    list-style-type: none;
    display: flex;
    gap: 0.5rem;

    &-item {
      transition: 0.3s ease-in-out;
      font-size: 24px;
      justify-content: center;
      align-items: center;
      display: flex;

      &-link {
        outline: 2px dashed transparent;
        color: var(--lightest-slate);
        transition: 0.3s ease-in-out;
        padding: 10px;

        &:hover {
          color: var(--theme-color);
        }
      }

      &:hover {
        transform: translateY(-4px);
      }
    }

    &::after {
      content: "";
      width: 2px;
      height: 90px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 768px) {
    .social-icons {
      &-list {
        &-item {
          transition: 0.3s ease-in-out;
          font-size: 18px;
        }
      }
    }
  }
}
